#mainarea, .sources, .thread {
/*	border: 1px solid black;*/
}

.thread {
	float: left;
}

.thread .code {
	font-family: monospace;
}

div.clearboth {
	clear: both;
}

.instruction {
	white-space: pre;
}

.instruction.current-instruction {
	font-weight: bold;
	background-color: #f3ff74;
}

.mainMenuLevelCaption {
    font-weight: bold;
}
.mainMenuLevelDescription {

}
.mainMenuLevel {
   padding: 5px;
   margin: 5px;
   border: 1px solid black;
}
.mainMenuSolvedLevel {
    background-color: #95ff5a;
}

.global-state {
	font-family: monospace;
	margin-top: 1em;
	margin-bottom: 1em;
}

.global-state .type {
	font-style: italic;
}

.global-state .name {
	margin-left: .5em;
	margin-right: .5em;
}

.global-state .value {
	margin-left: .5em;
}

.expansion {
	font-size: .8em;
	padding-left: 2em;
	background-color: white;
}
div.instruction.current-instruction div.expansion {
	font-weight: normal;
}
.critical-section {
	font-style: italic;
}

.global-buttons {
	float: right;
	margin-bottom: 1em;
}

.sources {
	clear: both;
}
