#mainarea, .sources, .thread {
/*	border: 1px solid black;*/
}

.thread {
	float: left;
}

.thread .code {
	font-family: monospace;
}

div.clearboth {
	clear: both;
}

.instruction {
	white-space: pre;
}

.instruction.current-instruction {
	font-weight: bold;
}

.mainMenuLevelCaption {
    font-weight: bold;
}
.mainMenuLevelDescription {

}
.mainMenuLevel {
   padding: 5px;
   margin: 5px;
   border: 1px solid black;
}
.mainMenuSolvedLevel {
    background-color: green;
}

.global-state {
	font-family: monospace;
}

.global-state .type {
	font-style: italic;
}

.global-state .name {
	margin-left: .5em;
	margin-right: .5em;
}

.global-state .value {
	margin-left: .5em;
}
